### Exercise 5: Logit Regression for Reference Price Shopper Segments

In this task, you want to learn about the binary logit regression using a reference price example.

In [1]:
## If you get error importing the package, that means the package is not installed in your computer. 
## You can install a python packge by using pip install command

## !pip install pandas

In [2]:
import pandas as pd  
import numpy as np
from sklearn.metrics import accuracy_score,precision_recall_fscore_support
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [3]:
## If you want your notebook free of warning messages uncomment below lines
#import warnings
#warnings.filterwarnings('ignore')

You'll need to load the dataset in your jupyter notebook

In [4]:
df = pd.read_csv('reference_price_tissue.csv')

You'll like to view first 5 rows of data.You might also specify number of rows you want to see example, df.head(3)

In [5]:
df.head()

,HH_ID,NRP,MBR,SBR,NRP_binary,MBR_binary,SBR_binary,paid_price,purchases,brand_switch,feature,display,basket_size,residence_status,HH_Income,NumberMembers,MH_Working_Hours,MH_Edu,FH_Working_Hours,FH_Edu
0,1100099,0.00,0.00,1.00,0,0,1,98.51,13,1.00,0.384615,0.230769,40.808261,1.0,1,2,0,0,0,5
1,1100172,0.06,0.86,0.08,0,1,0,85.00,9,0.56,0.555556,0.222222,7.126694,2.0,3,1,0,0,40,9
2,1100180,0.08,0.35,0.57,0,0,1,99.82,19,0.53,0.631579,0.315789,33.215159,1.0,8,5,40,9,30,8
3,1100313,0.32,0.45,0.24,0,1,0,82.00,7,0.86,0.285714,0.000000,18.820526,1.0,6,3,0,0,40,8
4,1100602,0.02,0.28,0.70,0,0,1,90.76,15,0.67,0.133333,0.133333,20.297931,2.0,7,3,50,9,40,8

You'll like to view last 5 rows of data.You might also specify number of rows you want to see example, df.tail(3)

In [6]:
df.tail()

,HH_ID,NRP,MBR,SBR,NRP_binary,MBR_binary,SBR_binary,paid_price,purchases,brand_switch,feature,display,basket_size,residence_status,HH_Income,NumberMembers,MH_Working_Hours,MH_Edu,FH_Working_Hours,FH_Edu
336,1159418,0.00,0.00,1.00,0,0,1,109.0,1,0.58,0.0,0.0,17.706190,1.0,9,3,40,5,40,5
337,1159491,0.00,0.00,1.00,0,0,1,119.0,1,0.00,0.0,0.0,23.000000,1.0,11,3,40,9,40,9
338,1159566,0.05,0.94,0.01,0,1,0,99.0,1,0.77,1.0,0.0,23.000000,1.0,5,4,0,3,40,4
339,1159657,0.99,0.00,0.01,1,0,0,99.0,1,0.82,0.0,1.0,18.348652,1.0,4,4,50,9,55,9
340,1160341,0.01,0.97,0.02,0,1,0,129.0,1,0.58,0.0,1.0,15.844690,1.0,9,2,50,8,20,6

To check dimension of the dataset you're working with use below command

In [7]:
df.shape

(341, 20)

**Task1: Run Binary logit**

To do this task, you have to create another dataset with only specified columns that will be used for first model

In [8]:
df_train = df[['MBR_binary','SBR_binary', 'paid_price','purchases', 'brand_switch', 'feature', 
                     'display', 'basket_size', 'residence_status', 'HH_Income', 'NumberMembers', 'MH_Working_Hours', 'MH_Edu', 'FH_Working_Hours', 'FH_Edu']]

In [9]:
# dmatrices function takes formula in format y = x1+ x2+ X3 ...
# Therefore we are extracting column names and joining with '+'
features = " + ".join(df_train.drop(columns=["SBR_binary","MBR_binary"]).columns)

DV = Memory-Based Reference Price Shoppers

In [10]:

# This line will return X and y values as dataframes to fit into a linear model.
y, X = dmatrices('MBR_binary ~' + features, df_train, return_type='dataframe')

# Run Linear regression model
mod = sm.Logit( y, X)

# fit the data into model
res = mod.fit()

# print the summary
print(res.summary())

Optimization terminated successfully.
         Current function value: 0.617682
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:             MBR_binary   No. Observations:                  341
Model:                          Logit   Df Residuals:                      327
Method:                           MLE   Df Model:                           13
Date:                Tue, 14 Apr 2020   Pseudo R-squ.:                 0.08624
Time:                        14:15:13   Log-Likelihood:                -210.63
converged:                       True   LL-Null:                       -230.51
Covariance Type:            nonrobust   LLR p-value:                 0.0001510
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -1.0581      1.100     -0.962      0.336      -3.214       1.097
paid_price          -0.0111      0.008     -1.445      0.148      -0.026       0.004
purchases            0.0061      0.020      0.297      0.767      -0.034       0.046
brand_switch         1.4610      0.508      2.873      0.004       0.464       2.458
feature              1.7193      0.584      2.945      0.003       0.575       2.863
display              0.8685      0.686      1.267      0.205      -0.476       2.213
basket_size          0.0153      0.011      1.417      0.157      -0.006       0.036
residence_status    -0.3102      0.338     -0.918      0.358      -0.972       0.352
HH_Income           -0.0064      0.057     -0.113      0.910      -0.117       0.105
NumberMembers        0.1185      0.107      1.110      0.267      -0.091       0.328
MH_Working_Hours    -0.0019      0.008     -0.229      0.819      -0.018       0.014
MH_Edu              -0.0283      0.052     -0.544      0.586      -0.130       0.074
FH_Working_Hours    -0.0055      0.007     -0.808      0.419      -0.019       0.008
FH_Edu               0.0455      0.058      0.785      0.433      -0.068       0.159
====================================================================================

DV = Stimulus-Based Reference Price Shoppers

In [11]:
# This line will return X and y values as dataframes to fit into a linear model.
y, X = dmatrices('SBR_binary ~' + features, df_train, return_type='dataframe')

# Run Linear regression model
mod = sm.Logit( y, X)

# fit the data into model
res = mod.fit()

# print the summary
print(res.summary())

Optimization terminated successfully.
         Current function value: 0.606238
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:             SBR_binary   No. Observations:                  341
Model:                          Logit   Df Residuals:                      327
Method:                           MLE   Df Model:                           13
Date:                Tue, 14 Apr 2020   Pseudo R-squ.:                  0.1187
Time:                        14:15:17   Log-Likelihood:                -206.73
converged:                       True   LL-Null:                       -234.56
Covariance Type:            nonrobust   LLR p-value:                 3.077e-07
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            1.1245      1.073      1.048      0.294      -0.978       3.227
paid_price           0.0112      0.007      1.521      0.128      -0.003       0.026
purchases           -0.0062      0.021     -0.301      0.764      -0.047       0.034
brand_switch        -2.2300      0.512     -4.356      0.000      -3.233      -1.227
feature             -1.0386      0.596     -1.741      0.082      -2.208       0.130
display             -0.9549      0.725     -1.318      0.188      -2.375       0.465
basket_size         -0.0123      0.011     -1.117      0.264      -0.034       0.009
residence_status     0.4899      0.332      1.476      0.140      -0.161       1.140
HH_Income           -0.0292      0.058     -0.506      0.613      -0.142       0.084
NumberMembers       -0.0302      0.110     -0.276      0.783      -0.245       0.184
MH_Working_Hours    -0.0049      0.009     -0.568      0.570      -0.022       0.012
MH_Edu              -0.0004      0.052     -0.008      0.994      -0.103       0.102
FH_Working_Hours    -0.0011      0.007     -0.160      0.873      -0.015       0.012
FH_Edu              -0.0877      0.059     -1.478      0.140      -0.204       0.029
====================================================================================